footer.footer
  .footer__body
    .wrapper
      .footer__inner
        .footer__logo
          img(src="img/footer-logo.png", alt="")
        .footer__info
          .footer__phone Телефон технической поддержки #[br] 
            a(href="tel:+78009991938") 8 800 999 1938
          .footer__contact 
            a(href="") info@timebook.ru
            .footer__social
              span 
                a(href="")
                  i(class="fab fa-facebook-square")
                a(href="")
                  i(class="fab fa-instagram")
                a(href="")
                  i(class="fab fa-vk")



