<!DOCTYPE html>
html(lang="en")
  head
    include template/_head
  body
    include template/_header

    main.main
      section.company-info
        .company-info__body
          .wrapper
            .company-info__row.company-info__row_first
              .company-info__text
                .company-info__title О компании
                p.company-info__parah timebook – современная система управления рабочим временем и процессом табельного учета WFM (Workforce Management). Инновационная российская разработка от софта до «железа». Идеально подходит для ритейла, банковской сферы, медицинских учреждений, промышленных объектов, строительных компаний
              .company-info__img
                img(src="img/about-company/about.png", alt="")
            .company-info__row.company-info__row_two
              .company-info__img
                img(src="img/about-company/850f8a0a8ace9a5741f92445a6b8575e.jpg", alt="")
              .company-info__text
                p.company-info__parah Timebook – российская IT-компания, основанная в 2012 году, разрабатывающая собственный продукт – систему автоматизации управления рабочим временем персонала, полноценную WFM (Workforce Management). Система timebook, делает процесс планирования и распределения кадровых ресурсов максимально прозрачным и естественным.
                p.company-info__parah С 2015 года компания является резидентом Инновационного центра Сколково и входит в ТОП-20 фокусных компаний фонда. Основное направление деятельности: разработка и внедрение современной системы управления рабочим временем.
            .company-info__row.company-info__row_thrid
              .company-info__text
                p.company-info__parah Компания самостоятельно производит разработку всего программного- аппаратного комплекса. Инновационная система timebook помогает автоматизировать процесс табельного учета и WFM (Workforce Management), включая в себя биометрический учет рабочего времени с идентификацией по лицу сотрудника (или по карте-идентификатору).
                p.company-info__parah Единая ИТ-среда timebook объединяет инструменты биометрической идентификации сотрудников и контроля их присутствия на рабочем месте, а также систему табельного учета сотрудников. Это позволяет менеджменту эффективно управлять кадрами на протяжении всего рабочего процесса.
                p.company-info__parah Система timebook, разработанная на базе передовых технологий для управления огромными массивами данных о бизнесе, помогает использовать человеческие ресурсы более эффективно, чем раньше. Это уникальное решение для оптимизации процесса управления персоналом, обладающее потенциалом во всех отраслях, где есть компании с большим количеством объектов и сотрудников.
              .company-info__img
                img(src="img/about-company/95c3860359be15457eb6ec858a3da195.jpg", alt="")
            .company-info__row.company-info__row_adress
              div
                div.company-info__adress-title ПРЕДСТАВИТЕЛЬСТВО
                ul.company-info__adress-list
                  li.company-info__adress-item 
                    span г. Москва, территория инновационного    центра Сколково, ул. Большой бульвар, д. 42, стр. 1, эт. 3 пом 1129
                  li.company-info__adress-item 
                    span 8 800 333 19 38
                  li.company-info__adress-item 
                    span info@timebook.ru
              div
                div.company-info__adress-title ОСНОВНОЙ ОФИС
                ul.company-info__adress-list
                  li.company-info__adress-item 
                    span г. Нижний Новгород, ул. Тимирязева, д. 35, помещение 11
                  li.company-info__adress-item 
                    span 8 800 333 19 38
                  li.company-info__adress-item 
                    span support@timebook.ru
                  li.company-info__adress-item 
                    span partners@timebook.ru
    
    include template/_footer
    script(src="js/header_script.js")
  